:root {
    --siteBasisMobile: 375;
    --siteBasisDesktop: 1440;
    --siteBasis: var(--siteBasisMobile);
    --siteMaxMobile: 600;
    --siteMaxDesktop: 2000;
    --siteMax: var(--siteMaxMobile);
  }
  
 
  
  div {
    width: 150pxv;
    padding: 12pxv 100pxv 13pxv 15pxv;
    border: 2px solid blue;
    margin-top: -20pxv;
  }
  
  @media (min-width: 1024px) {
    * {
      --siteBasis: var(--siteBasisDesktop);
      --siteMax: var(--siteMaxDesktop);
    }
  
    div {
      border: 5px solid green;
    }
  }