:root {
    --siteBasisMobile: 375;
    --siteBasisDesktop: 1440;
    --siteBasis: var(--siteBasisMobile);
    --siteMaxMobile: 600;
    --siteMaxDesktop: 1600;
    --siteMax: var(--siteMaxMobile);
    --pxvUnit: clamp(0px, calc((100 / var(--siteBasis)) * 1vw), calc(1px * var(--siteMax) / var(--siteBasis)));
  }
  
 
  
  div.border {
    width: calc(150 * var(--pxvUnit));
    padding: calc(12 * var(--pxvUnit)) calc(100 * var(--pxvUnit)) calc(13 * var(--pxvUnit)) calc(15 * var(--pxvUnit));
    border: calc(5 * var(--pxvUnit)) solid blue;
  }
  div.absolute {
    position: absolute;
    top: calc(50 * var(--pxvUnit));
    right: calc(-99 * var(--pxvUnit));
    width: calc(490 * var(--pxvUnit));
    height: 44.5px;
    border: calc(1 * var(--pxvUnit)) solid green;
    background: palegoldenrod;
  }
  div.negativeval {
    border: calc(4 * var(--pxvUnit)) solid brown;
    background: paleturquoise;
    width: calc(300 * var(--pxvUnit));
    height: calc(200 * var(--pxvUnit));
    margin-left: calc(-30 * var(--pxvUnit));
  }
  div.decimal {
    width: calc(845.34534 * var(--pxvUnit));
    height: calc(35.3344 * var(--pxvUnit));
    background: lightpink;
  }
  @media (min-width: 1024px) {
    :root {
      --siteBasis: var(--siteBasisDesktop);
      --siteMax: var(--siteMaxDesktop);
    }
  
    div {
      border: 5px solid green;
    }
  }

  div.bobo {
    width: calc(50.5 * var(--pxvUnit));
  }
  div.shorthand {
    background: tomato;
    color: #fff;
    padding: calc(40 * var(--pxvUnit)) calc(20 * var(--pxvUnit)) calc(100 * var(--pxvUnit)) calc(50 * var(--pxvUnit));
    margin: calc(400 * var(--pxvUnit)) calc(200 * var(--pxvUnit)) calc(99 * var(--pxvUnit)) calc(200 * var(--pxvUnit));
  }
  div.bordertest {
    border: calc(15 * var(--pxvUnit)) solid pink;
  }

  div.weird-stuff {
    margin: calc(20 * var(--pxvUnit)) calc(calc(20 * var(--pxvUnit)) + calc(calc(10 * var(--pxvUnit)) + 5%)) calc(50 * var(--pxvUnit));
  }

  div.zero-test {
    margin: calc(20 * var(--pxvUnit)) 0 calc(50 * var(--pxvUnit));
  }